:root {
    --primary-color: #7FA89A;
    --on-primary-color: #FFF;
    --primary-monochrome-dark-2: #59756C;
    --primary-complementary-dark-2: #5C3B33;
    --primary-complementary-similar-2: #3D5C51;
    --background-color: #EEE;
    --surface-color: #FFF;
    --accent-color: #A88F77;
    --error-color: rgb(175, 37, 32);
}

:root {
    --body-bg-color: var(--background-color);
    --box-bg-color: var(--surface-color);
    --box-border: 1px solid var(--primary-monochrome-dark-2);
    --box-title-color: var(--accent-color);
}